extends layout
block content
    .container-xxl.bg-white.p-0

    .container.page-header.mb-5.p-0(style='background-image: url(../hotel/img/carousel-1.jpg);')
        .container-fluid.page-header-inner.py-5
          .container.text-center.pb-5
            h1.display-3.text-white.mb-3.animated.slideInDown Add Room
            nav(aria-label='breadcrumb')
              ol.breadcrumb.justify-content-center.text-uppercase
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Pages
                li.breadcrumb-item.text-white.active(aria-current='page') AddRoom


    .row.g-12.my-5
        .col-md-4
        .col-md-4
            .wow.fadeInUp(data-wow-delay='0.2s')
            form(action='/addRoom' method='POST')
                .row.g-12
                .col-md-12
                    .form-floating
                    label(for='name') Kategori
                    input#name.form-control(type='text' name='category' )
                .col-md-12
                    .form-floating
                    label(for='name') Fiyat
                    input#name.form-control(type='text' name='price')
                .col-md-12
                    .form-floating
                    label(for='name') Yatak Say覺s覺
                    input#name.form-control(type='number' name='bad' )
                .col-md-12
                    .form-floating
                    label(for='name') Banyo Say覺s覺
                    input#name.form-control(type='number' name='bath' )
                .col-md-12
                    .form-floating
                    label(for='name') Resim
                    input#name.form-control(type='text' name='image')    
                .col-6.mt-3.text-left
                    button.btn.btn-primary.w-100.py-3(type='submit') Tamam
        .col-md-4