extends layout
block content
    .container-xxl.bg-white.p-0
        .container
            .text-center.wow.fadeInUp(data-wow-delay='0.1s')
                h6.section-title.text-center.text-primary.text-uppercase Kayıt
                h1.mb-5
                    span.text-primary.text-uppercase Kayıt
                    |  Ol Ve Fırsatları Kaçırma

    .row.g-12.my-5
        .col-md-4
        .col-md-4
            .wow.fadeInUp(data-wow-delay='0.2s')
            form(action='/register' method='POST')
                .row.g-12
                .col-md-12.mt-3
                    .form-floating
                        label(for='name') İsim
                        input#name.form-control(type='text' name='name' )
                .col-md-12.mt-3
                    .form-floating
                        label(for='name') Soyisim
                        input#name.form-control(type='text' name='surName')
                .col-md-12.mt-3
                    .form-floating
                        label(for='name') Kullanıcı Adı
                        input#name.form-control(type='text' name='userName' )
                .col-md-12.mt-3
                    .form-floating
                        label(for='name') EMail
                        input#name.form-control(type='text' name='eMail' )
                .col-md-12.mt-3
                    .form-floating
                        label(for='name') Şifre
                        input#name.form-control(type='text' name='password')                    
                .col-md-12.mt-3
                    .form-floating
                        label(for='email') Şifre Tekrar
                        input#email.form-control(type='password')      
                .col-6.mt-3.text-left
                    button.btn.btn-primary.w-100.py-3(type='submit') Kayıt Ol
        .col-md-4